---
import Layout from '../../layouts/Layout.astro';
import DiscountsWrapper from '../../components/DiscountsWrapper.astro';
import ServicingWrapper from '../../components/ServicingWrapper.astro';
import NumbersWrapper from '../../components/NumbersWrapper.astro';
import WhyUsWrapper from '../../components/WhyUsWrapper.astro';
import ChillZoneWrapper from '../../components/ChillZoneWrapper.astro';

export async function getStaticPaths() {
  return [
    // Стандартные серии
    { params: { slug: 'bmw-1' } },
    { params: { slug: 'bmw-2' } },
    { params: { slug: 'bmw-3' } },
    { params: { slug: 'bmw-4' } },
    { params: { slug: 'bmw-5' } },
    { params: { slug: 'bmw-6' } },
    { params: { slug: 'bmw-7' } },
    { params: { slug: 'bmw-8' } },
    // X серии
    { params: { slug: 'bmw-x1' } },
    { params: { slug: 'bmw-x2' } },
    { params: { slug: 'bmw-x3' } },
    { params: { slug: 'bmw-x3m' } },
    { params: { slug: 'bmw-x4' } },
    { params: { slug: 'bmw-x4m' } },
    { params: { slug: 'bmw-x5' } },
    { params: { slug: 'bmw-x5m' } },
    { params: { slug: 'bmw-x6' } },
    { params: { slug: 'bmw-x6m' } },
    { params: { slug: 'bmw-x7' } },
    { params: { slug: 'bmw-xm' } },
    // M серии
    { params: { slug: 'bmw-m2' } },
    { params: { slug: 'bmw-m3' } },
    { params: { slug: 'bmw-m4' } },
    { params: { slug: 'bmw-m5' } },
    { params: { slug: 'bmw-m8' } },
    // i серии (электрические)
    { params: { slug: 'bmw-i3' } },
    { params: { slug: 'bmw-i4' } },
    { params: { slug: 'bmw-i7' } },
    { params: { slug: 'bmw-i8' } },
    { params: { slug: 'bmw-ix' } },
    { params: { slug: 'bmw-ix2' } },
    { params: { slug: 'bmw-ix3' } },
    { params: { slug: 'bmw-ix5' } },
    // Z серии
    { params: { slug: 'bmw-z3' } },
    { params: { slug: 'bmw-z4' } },
    // Люкс бренды
    { params: { slug: 'rolls-royce' } },
    { params: { slug: 'mini-cooper' } },
  ];
}

const { slug } = Astro.params;

const carModels: Record<string, {
  title: string;
  description: string;
  image: string;
  about: string;
  services: string[];
}> = {
  'bmw-1': {
    title: 'BMW 1 серия',
    description: 'Ремонт и обслуживание BMW 1 серии. Профессиональный сервис для компактного премиум-класса.',
    image: 'bmw-1',
    about: 'BMW 1 серия - это компактный премиум-класс, требующий особого внимания при обслуживании. Наш технический центр специализируется на всех аспектах диагностики и ремонта этого популярного автомобиля. От планового обслуживания до сложного ремонта силовой установки и коробки передач - мы готовы помочь.',
    services: [
      'Плановое ТО-1, ТО-2, ТО-3',
      'Диагностика двигателя и электроники',
      'Ремонт и замена турбокомпрессора',
      'Ремонт АКПП и МКПП',
      'Замена масла и фильтров',
      'Ремонт подвески и тормозной системы',
      'Диагностика и ремонт системы охлаждения'
    ]
  },
  'bmw-2': {
    title: 'BMW 2 серия',
    description: 'Ремонт и обслуживание BMW 2 серии. Сервис для активного водителя.',
    image: 'bmw-2',
    about: 'BMW 2 серия - спортивный премиум-класс, требующий специализированного подхода. Наша команда имеет огромный опыт работы с двигателями серии 2 и их трансмиссиями. Мы выполняем все виды работ: от регулярного обслуживания до капитального ремонта.',
    services: [
      'Полное техническое обслуживание',
      'Диагностика и ремонт мотора',
      'Ремонт двухсцепной коробки передач DCT',
      'Ремонт турбо',
      'Замена свечей зажигания',
      'Ремонт подвески M-Sport',
      'Диагностика электрооборудования'
    ]
  },
  'bmw-3': {
    title: 'BMW 3 серия',
    description: 'Ремонт и обслуживание BMW 3 серии. Наиболее популярная и надежная линейка BMW.',
    image: 'bmw-3',
    about: 'BMW 3 серия - самая популярная и легендарная серия BMW. Мы являемся экспертами в обслуживании и ремонте всех поколений 3 серии. Наш опыт охватывает все типы двигателей и трансмиссий, установленные в этих автомобилях.',
    services: [
      'Плановое и сервисное обслуживание',
      'Диагностика всех систем автомобиля',
      'Ремонт и замена турбокомпрессора',
      'Ремонт АКПП ZF',
      'Замена цепи ГРМ',
      'Ремонт системы охлаждения',
      'Диагностика и ремонт подвески'
    ]
  },
  'bmw-4': {
    title: 'BMW 4 серия',
    description: 'Ремонт и обслуживание BMW 4 серия. Купе и кабриолеты высшего класса.',
    image: 'bmw-4',
    about: 'BMW 4 серия - это элегантные купе и кабриолеты, требующие квалифицированного обслуживания. Наш сервис оснащен всем необходимым оборудованием для полного технического обслуживания и ремонта этих красивых автомобилей.',
    services: [
      'Техническое обслуживание премиум-уровня',
      'Диагностика двигателя',
      'Ремонт АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание гидравлики крыши кабриолета',
      'Ремонт подвески',
      'Диагностика электроники'
    ]
  },
  'bmw-5': {
    title: 'BMW 5 серия',
    description: 'Ремонт и обслуживание BMW 5 серии. Премиум-седан для бизнеса.',
    image: 'bmw-5',
    about: 'BMW 5 серия - флагман класса премиум-седанов. Мы предоставляем комплексное обслуживание и ремонт всех поколений 5 серии. Наша команда специализируется на диагностике и ремонте высокотехнологичных систем этого автомобиля.',
    services: [
      'Плановое техническое обслуживание',
      'Диагностика двигателя и электроники',
      'Ремонт АКПП с гидротрансформатором',
      'Ремонт и замена турбокомпрессора',
      'Ремонт системы охлаждения',
      'Обслуживание системы кондиционирования',
      'Диагностика и ремонт подвески'
    ]
  },
  'bmw-6': {
    title: 'BMW 6 серия',
    description: 'Ремонт и обслуживание BMW 6 серии. Люксовое купе для настоящих ценителей.',
    image: 'bmw-6',
    about: 'BMW 6 серия - это люксовое купе и кабриолет с высочайшим уровнем комфорта. Обслуживание таких автомобилей требует специальных знаний и опыта. Мы готовы предоставить полный спектр услуг для вашего BMW 6.',
    services: [
      'Профессиональное техническое обслуживание',
      'Диагностика премиум-класса',
      'Ремонт V8 и V12 двигателей',
      'Ремонт АКПП 8-ступенчатой',
      'Ремонт турбокомпрессора',
      'Обслуживание кабриолета',
      'Ремонт подвески M Sport'
    ]
  },
  'bmw-7': {
    title: 'BMW 7 серия',
    description: 'Ремонт и обслуживание BMW 7 серии. Королевский премиум-седан.',
    image: 'bmw-7',
    about: 'BMW 7 серия - это вершина роскоши и высоких технологий. Обслуживание такого премиум-уровня требует исключительной компетенции. Наш сервис имеет опыт работы со всеми системами 7 серии, включая самые сложные.',
    services: [
      'Премиум-класс техническое обслуживание',
      'Диагностика сложных систем',
      'Ремонт V8, V12 двигателей',
      'Ремонт 8-ступенчатой АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание системы пневмоподвески',
      'Диагностика и ремонт электроники'
    ]
  },
  'bmw-m5': {
    title: 'BMW M5',
    description: 'Ремонт и обслуживание BMW M5. Легендарный спортсмен BMW.',
    image: 'bmw-m5',
    about: 'BMW M5 - это суперседан с экстремальной производительностью. Обслуживание М-модели требует специального подхода и глубоких знаний. Наши специалисты имеют сертификацию и опыт работы с самыми агрессивными моторами BMW.',
    services: [
      'Диагностика M-двигателя',
      'Ремонт и замена турбокомпрессора',
      'Ремонт спортивной АКПП',
      'Обслуживание спортивной подвески',
      'Ремонт спортивного выхлопа',
      'Диагностика тормозной системы M',
      'Ремонт дифференциала M Sport'
    ]
  },
  'bmw-x3': {
    title: 'BMW X3',
    description: 'Ремонт и обслуживание BMW X3. Компактный спортивный кроссовер.',
    image: 'bmw-x3',
    about: 'BMW X3 - спортивный кроссовер, завоевавший доверие миллионов водителей. Мы специализируемся на обслуживании всех поколений X3. Наш опыт включает работу с полным приводом и сложными электронными системами этого автомобиля.',
    services: [
      'Техническое обслуживание',
      'Диагностика двигателя',
      'Ремонт АКПП и полного привода',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание системы охлаждения',
      'Ремонт подвески',
      'Диагностика электроники'
    ]
  },
  'bmw-x5': {
    title: 'BMW X5',
    description: 'Ремонт и обслуживание BMW X5. Премиум-класс большого кроссовера.',
    image: 'bmw-x5',
    about: 'BMW X5 - премиум-класс большого кроссовера для семей и активных людей. Обслуживание этого внедорожника требует специального оборудования. Мы имеем все необходимое для полного обслуживания и ремонта X5.',
    services: [
      'Полное техническое обслуживание',
      'Диагностика дизель и бензиновых двигателей',
      'Ремонт АКПП 8-ступенчатой',
      'Ремонт система полного привода',
      'Обслуживание пневмоподвески',
      'Ремонт турбокомпрессора',
      'Диагностика и ремонт электроники'
    ]
  },
  'bmw-x6': {
    title: 'BMW X6',
    description: 'Ремонт и обслуживание BMW X6. Роскошный спортивный кроссовер.',
    image: 'bmw-x6',
    about: 'BMW X6 - это уникальный кроссовер-купе, сочетающий роскошь и производительность. Обслуживание X6 требует специальных знаний. Наша команда готова обеспечить полный сервис для вашего BMW X6.',
    services: [
      'Премиум-обслуживание',
      'Диагностика V8 двигателя',
      'Ремонт АКПП 8-ступенчатой',
      'Ремонт турбокомпрессора',
      'Обслуживание спортивной подвески',
      'Ремонт полного привода xDrive',
      'Диагностика электроники и систем безопасности'
    ]
  },
  'bmw-8': {
    title: 'BMW 8 серия',
    description: 'Ремонт и обслуживание BMW 8 серии. Люксовое купе нового поколения.',
    image: 'bmw-8',
    about: 'BMW 8 серия - это возрождение классического купе с современными технологиями. Обслуживание этого премиум-класса требует специальных знаний и оборудования. Мы готовы обеспечить полный сервис для вашего BMW 8.',
    services: [
      'Премиум техническое обслуживание',
      'Диагностика V8 двигателя',
      'Ремонт спортивной АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание адаптивной подвески',
      'Диагностика электроники',
      'Ремонт спортивного выхлопа'
    ]
  },
  'bmw-x1': {
    title: 'BMW X1',
    description: 'Ремонт и обслуживание BMW X1. Компактный кроссовер для города.',
    image: 'bmw-x1',
    about: 'BMW X1 - компактный кроссовер, идеальный для городской среды. Мы предоставляем полный спектр услуг по обслуживанию и ремонту X1 всех поколений.',
    services: [
      'Плановое техническое обслуживание',
      'Диагностика двигателя',
      'Ремонт АКПП и полного привода',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание системы охлаждения',
      'Ремонт подвески',
      'Диагностика электроники'
    ]
  },
  'bmw-x2': {
    title: 'BMW X2',
    description: 'Ремонт и обслуживание BMW X2. Стильный спортивный кроссовер.',
    image: 'bmw-x2',
    about: 'BMW X2 - это спортивный кроссовер с современным дизайном. Обслуживание X2 требует квалифицированного подхода. Наша команда имеет опыт работы со всеми системами этого автомобиля.',
    services: [
      'Техническое обслуживание',
      'Диагностика двигателя',
      'Ремонт АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание полного привода',
      'Ремонт подвески',
      'Диагностика электроники'
    ]
  },
  'bmw-x3m': {
    title: 'BMW X3M',
    description: 'Ремонт и обслуживание BMW X3M. Спортивный кроссовер М-серии.',
    image: 'bmw-x3m',
    about: 'BMW X3M - спортивный кроссовер с M-ДНК. Обслуживание этой модели требует специализированного подхода и глубоких знаний.',
    services: [
      'Диагностика M-двигателя',
      'Ремонт спортивной АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание спортивной подвески',
      'Ремонт тормозной системы M',
      'Диагностика полного привода xDrive M',
      'Ремонт спортивного выхлопа'
    ]
  },
  'bmw-x4': {
    title: 'BMW X4',
    description: 'Ремонт и обслуживание BMW X4. Кроссовер-купе премиум-класса.',
    image: 'bmw-x4',
    about: 'BMW X4 - это кроссовер-купе, сочетающий спортивность и практичность. Мы специализируемся на обслуживании всех поколений X4.',
    services: [
      'Техническое обслуживание',
      'Диагностика двигателя',
      'Ремонт АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание полного привода',
      'Ремонт подвески',
      'Диагностика электроники'
    ]
  },
  'bmw-x4m': {
    title: 'BMW X4M',
    description: 'Ремонт и обслуживание BMW X4M. Спортивный кроссовер-купе.',
    image: 'bmw-x4m',
    about: 'BMW X4M - спортивный кроссовер-купе с M-производительностью. Обслуживание требует специальных знаний и оборудования.',
    services: [
      'Диагностика M-двигателя',
      'Ремонт спортивной АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание спортивной подвески',
      'Ремонт тормозной системы M',
      'Диагностика полного привода xDrive M',
      'Ремонт спортивного выхлопа'
    ]
  },
  'bmw-x5m': {
    title: 'BMW X5M',
    description: 'Ремонт и обслуживание BMW X5M. Мощный спортивный внедорожник.',
    image: 'bmw-x5m',
    about: 'BMW X5M - это премиум-внедорожник с экстремальной производительностью. Обслуживание требует специализированного подхода.',
    services: [
      'Диагностика V8 M-двигателя',
      'Ремонт спортивной АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание спортивной подвески',
      'Ремонт тормозной системы M',
      'Диагностика полного привода xDrive M',
      'Ремонт спортивного выхлопа'
    ]
  },
  'bmw-x6m': {
    title: 'BMW X6M',
    description: 'Ремонт и обслуживание BMW X6M. Спортивный кроссовер-купе.',
    image: 'bmw-x6m',
    about: 'BMW X6M - это уникальный кроссовер-купе с M-производительностью. Обслуживание требует глубоких знаний и специального оборудования.',
    services: [
      'Диагностика V8 M-двигателя',
      'Ремонт спортивной АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание спортивной подвески',
      'Ремонт тормозной системы M',
      'Диагностика полного привода xDrive M',
      'Ремонт спортивного выхлопа'
    ]
  },
  'bmw-x7': {
    title: 'BMW X7',
    description: 'Ремонт и обслуживание BMW X7. Люксовый полноразмерный внедорожник.',
    image: 'bmw-x7',
    about: 'BMW X7 - это флагман семейства X, полноразмерный люксовый внедорожник. Обслуживание требует специального подхода и квалификации.',
    services: [
      'Премиум техническое обслуживание',
      'Диагностика V8 двигателя',
      'Ремонт АКПП 8-ступенчатой',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание пневмоподвески',
      'Диагностика электроники и систем безопасности',
      'Ремонт полного привода xDrive'
    ]
  },
  'bmw-xm': {
    title: 'BMW XM',
    description: 'Ремонт и обслуживание BMW XM. Гибридный спортивный внедорожник.',
    image: 'bmw-xm',
    about: 'BMW XM - это революционный гибридный спортивный внедорожник. Обслуживание требует специальных знаний в работе с гибридными системами.',
    services: [
      'Диагностика гибридной системы',
      'Ремонт V8 M-двигателя',
      'Обслуживание электрической части',
      'Ремонт спортивной АКПП',
      'Обслуживание спортивной подвески',
      'Диагностика тормозной системы M',
      'Ремонт полного привода xDrive M'
    ]
  },
  'bmw-m2': {
    title: 'BMW M2',
    description: 'Ремонт и обслуживание BMW M2. Компактный спортсмен М-серии.',
    image: 'bmw-m2',
    about: 'BMW M2 - это компактный спортивный автомобиль сM-характером. Наши специалисты имеют опыт работы со всеми системами M2.',
    services: [
      'Диагностика M-двигателя',
      'Ремонт спортивной АКПП/МКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание спортивной подвески M',
      'Ремонт спортивной тормозной системы',
      'Диагностика дифференциала M Limited Slip',
      'Ремонт спортивного выхлопа'
    ]
  },
  'bmw-m3': {
    title: 'BMW M3',
    description: 'Ремонт и обслуживание BMW M3. Легендарный спортивный седан.',
    image: 'bmw-m3',
    about: 'BMW M3 - легендарный спортивный седан высочайшего уровня. Мы имеем многолетний опыт в обслуживании всех поколений M3.',
    services: [
      'Диагностика M-двигателя',
      'Ремонт спортивной коробки передач',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание спортивной подвески M',
      'Ремонт спортивной тормозной системы',
      'Диагностика ограниченного скольжения дифференциала',
      'Ремонт выхлопной системы M'
    ]
  },
  'bmw-m4': {
    title: 'BMW M4',
    description: 'Ремонт и обслуживание BMW M4. Высокопроизводительное купе.',
    image: 'bmw-m4',
    about: 'BMW M4 - это высокопроизводительное купе и кабриолет М-серии. Обслуживание требует высочайшей квалификации.',
    services: [
      'Диагностика M-двигателя',
      'Ремонт спортивной АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание спортивной подвески M',
      'Ремонт спортивной тормозной системы',
      'Диагностика дифференциала M Limited Slip',
      'Ремонт выхлопной системы M'
    ]
  },
  'bmw-m8': {
    title: 'BMW M8',
    description: 'Ремонт и обслуживание BMW M8. Спортивное люксовое купе.',
    image: 'bmw-m8',
    about: 'BMW M8 - это вершина спортивного люксового мастерства. Обслуживание требует исключительной квалификации и специального оборудования.',
    services: [
      'Диагностика V8 M-двигателя',
      'Ремонт спортивной АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание адаптивной спортивной подвески',
      'Ремонт карбон-керамической тормозной системы',
      'Диагностика дифференциала M Limited Slip',
      'Ремонт выхлопной системы M'
    ]
  },
  'bmw-i3': {
    title: 'BMW i3',
    description: 'Ремонт и обслуживание BMW i3. Революционный электромобиль.',
    image: 'bmw-i3',
    about: 'BMW i3 - это революционный электромобиль с инновационной конструкцией. Обслуживание требует специальных знаний в работе с электромобилями.',
    services: [
      'Диагностика электрической системы',
      'Обслуживание литий-ионной батареи',
      'Ремонт электромотора',
      'Диагностика системы зарядки',
      'Обслуживание системы охлаждения батареи',
      'Ремонт рекуперативной тормозной системы',
      'Диагностика электроники управления'
    ]
  },
  'bmw-i4': {
    title: 'BMW i4',
    description: 'Ремонт и обслуживание BMW i4. Спортивный электроседан.',
    image: 'bmw-i4',
    about: 'BMW i4 - это спортивный электрический седан нового поколения. Мы специализируемся на обслуживании современных электромобилей.',
    services: [
      'Диагностика электрической системы',
      'Обслуживание литий-ионной батареи',
      'Ремонт электромотора',
      'Диагностика системы зарядки',
      'Обслуживание система охлаждения батареи',
      'Ремонт рекуперативной тормозной системы',
      'Диагностика электроники управления'
    ]
  },
  'bmw-i7': {
    title: 'BMW i7',
    description: 'Ремонт и обслуживание BMW i7. Люксовый электроседан.',
    image: 'bmw-i7',
    about: 'BMW i7 - это люксовый электрический седан с передовыми технологиями. Обслуживание требует специальных знаний и оборудования.',
    services: [
      'Диагностика электрической системы',
      'Обслуживание литий-ионной батареи',
      'Ремонт электромотора',
      'Диагностика системы зарядки',
      'Обслуживание система охлаждения батареи',
      'Ремонт рекуперативной тормозной системы',
      'Диагностика электроники управления'
    ]
  },
  'bmw-i8': {
    title: 'BMW i8',
    description: 'Ремонт и обслуживание BMW i8. Гибридный спортивный автомобиль.',
    image: 'bmw-i8',
    about: 'BMW i8 - это революционный гибридный спортивный автомобиль. Обслуживание требует специальных знаний в работе с гибридными системами.',
    services: [
      'Диагностика гибридной системы',
      'Ремонт трехцилиндрового двигателя',
      'Обслуживание электрической части',
      'Диагностика литий-ионной батареи',
      'Ремонт электромотора',
      'Обслуживание система охлаждения батареи',
      'Ремонт спортивной тормозной системы'
    ]
  },
  'bmw-ix': {
    title: 'BMW iX',
    description: 'Ремонт и обслуживание BMW iX. Люксовый электрический кроссовер.',
    image: 'bmw-ix',
    about: 'BMW iX - это люксовый электрический кроссовер нового поколения. Мы предоставляем полный спектр услуг по обслуживанию электромобилей.',
    services: [
      'Диагностика электрической системы',
      'Обслуживание литий-ионной батареи',
      'Ремонт электромоторов (передний и задний)',
      'Диагностика системы зарядки',
      'Обслуживание система охлаждения батареи',
      'Ремонт рекуперативной тормозной системы',
      'Диагностика электроники управления полным приводом'
    ]
  },
  'bmw-ix2': {
    title: 'BMW iX2',
    description: 'Ремонт и обслуживание BMW iX2. Компактный электрический кроссовер.',
    image: 'bmw-ix2',
    about: 'BMW iX2 - это компактный электрический кроссовер. Обслуживание требует специальных знаний в работе с электромобилями.',
    services: [
      'Диагностика электрической системы',
      'Обслуживание литий-ионной батареи',
      'Ремонт электромотора',
      'Диагностика системы зарядки',
      'Обслуживание система охлаждения батареи',
      'Ремонт рекуперативной тормозной системы',
      'Диагностика электроники управления'
    ]
  },
  'bmw-ix3': {
    title: 'BMW iX3',
    description: 'Ремонт и обслуживание BMW iX3. Спортивный электрический кроссовер.',
    image: 'bmw-ix3',
    about: 'BMW iX3 - это спортивный электрический кроссовер. Мы специализируемся на обслуживании современных электромобилей.',
    services: [
      'Диагностика электрической системы',
      'Обслуживание литий-ионной батареи',
      'Ремонт электромотора',
      'Диагностика системы зарядки',
      'Обслуживание система охлаждения батареи',
      'Ремонт рекуперативной тормозной системы',
      'Диагностика электроники управления полным приводом'
    ]
  },
  'bmw-ix5': {
    title: 'BMW iX5',
    description: 'Ремонт и обслуживание BMW iX5. Люксовый электрический внедорожник.',
    image: 'bmw-ix5',
    about: 'BMW iX5 - это люксовый электрический внедорожник нового поколения. Обслуживание требует специальных знаний и оборудования.',
    services: [
      'Диагностика электрической системы',
      'Обслуживание литий-ионной батареи',
      'Ремонт электромоторов (передний и задний)',
      'Диагностика системы зарядки',
      'Обслуживание система охлаждения батареи',
      'Ремонт рекуперативной тормозной системы',
      'Диагностика электроники управления полным приводом'
    ]
  },
  'bmw-z3': {
    title: 'BMW Z3',
    description: 'Ремонт и обслуживание BMW Z3. Классический спортивный родстер.',
    image: 'bmw-z3',
    about: 'BMW Z3 - это легендарный спортивный родстер 90-х годов. Мы имеем опыт в обслуживании классических BMW Z-серии.',
    services: [
      'Техническое обслуживание',
      'Диагностика двигателя',
      'Ремонт МКПП и АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание гидравлики крыши',
      'Ремонт подвески',
      'Диагностика электроники'
    ]
  },
  'bmw-z4': {
    title: 'BMW Z4',
    description: 'Ремонт и обслуживание BMW Z4. Современный спортивный родстер.',
    image: 'bmw-z4',
    about: 'BMW Z4 - это современный спортивный родстер с передовыми технологиями. Мы специализируемся на обслуживании всех поколений Z4.',
    services: [
      'Техническое обслуживание',
      'Диагностика двигателя',
      'Ремонт МКПП и АКПП',
      'Ремонт и замена турбокомпрессора',
      'Обслуживание гидравлики крыши',
      'Ремонт подвески',
      'Диагностика электроники'
    ]
  },
  'rolls-royce': {
    title: 'Rolls Royce',
    description: 'Ремонт и обслуживание Rolls Royce. Король роскоши.',
    image: 'rolls-royce',
    about: 'Rolls Royce - это апофеоз роскоши и совершенства. Обслуживание такого автомобиля требует исключительного мастерства и внимания к деталям. Мы имеем опыт работы с этими легендарными автомобилями.',
    services: [
      'Премиум-класс техническое обслуживание',
      'Диагностика V12 двигателя',
      'Ремонт и замена турбокомпрессора',
      'Ремонт автоматической трансмиссии',
      'Обслуживание подвески',
      'Ремонт роскошного интерьера',
      'Диагностика всех электронных систем'
    ]
  },
  'mini-cooper': {
    title: 'Mini Cooper',
    description: 'Ремонт и обслуживание Mini Cooper. Классический британский стиль.',
    image: 'mini-cooper',
    about: 'Mini Cooper - компактный автомобиль с характером и стилем. Обслуживание Mini требует понимания особенностей конструкции этого автомобиля. Наша команда имеет опыт работы со всеми поколениями Mini Cooper.',
    services: [
      'Регулярное техническое обслуживание',
      'Диагностика двигателя',
      'Ремонт коробки передач',
      'Замена масла и фильтров',
      'Ремонт турбокомпрессора',
      'Обслуживание тормозной системы',
      'Диагностика и ремонт подвески'
    ]
  }
};

const carData = carModels[slug as string];

if (!carData) {
  return Astro.redirect('/404');
}

const title = `Ремонт и обслуживание ${carData.title} - YanisGrek`;
const description = carData.description;
---

<Layout {title} {description}>
  <div class="car-page">
    <div class="car-hero">
      <div class="car-hero-content">
        <h1>{carData.title}</h1>
        <p class="car-description">{carData.description}</p>
      </div>
    </div>

    <div class="car-content">
      <div class="car-about">
        <h2>О модели</h2>
        <p>{carData.about}</p>
      </div>

      <div class="car-services">
        <h2>Наши услуги для {carData.title}</h2>
        <ul class="services-list">
          {carData.services.map(service => (
            <li>{service}</li>
          ))}
        </ul>
      </div>

      <div class="car-cta">
        <a href="/#service-quiz" class="cta-button">Записаться на обслуживание</a>
      </div>
    </div>

    <WhyUsWrapper />
    <ChillZoneWrapper />
    <DiscountsWrapper />
    <ServicingWrapper />
    <NumbersWrapper />
  </div>
</Layout>

<style>
.car-page {
  min-height: 100vh;
}

.car-hero {
  background: linear-gradient(135deg, #e8e8e8 0%, #d0d0d0 100%);
  padding: 120px 20px 80px;
  padding-top: 210px;
  margin-top: 0;
}

.car-hero-content {
  max-width: 1200px;
  margin: 0 auto;
}

.car-hero h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 48px;
  color: #262626;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.car-description {
  font-size: 20px;
  color: #666;
  margin-bottom: 32px;
  line-height: 1.6;
}

.car-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0px;
}

.car-about {
  margin-bottom: 60px;
}

.car-about h2,
.car-services h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #262626;
  margin-bottom: 24px;
}

.car-about p {
  font-size: 18px;
  line-height: 1.8;
  color: #666;
}

.car-services {
  margin-bottom: 60px;
}

.services-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.services-list li {
  background: rgb(208, 208, 208);
  padding: 20px 24px;
  font-size: 16px;
  color: #262626;
  position: relative;
  padding-left: 48px;
}

.services-list li::before {
  content: '✓';
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 700;
  color: #262626;
}

.car-cta {
  text-align: center;
  margin-bottom: 60px;
}

.cta-button {
  display: inline-block;
  padding: 20px 48px;
  background: black;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.cta-button:hover {
  background: #2b6eff;
}

@media screen and (max-width: 768px) {
  .car-hero {
    padding: 100px 20px 60px;
  }

  .car-hero h1 {
    font-size: 32px;
  }

  .car-description {
    font-size: 16px;
  }

  .car-content {
    padding: 60px 20px;
  }

  .car-about h2,
  .car-services h2 {
    font-size: 24px;
  }

  .car-about p {
    font-size: 16px;
  }

  .services-list {
    grid-template-columns: 1fr;
  }

  .services-list li {
    font-size: 14px;
    padding: 16px 20px 16px 44px;
  }

  .cta-button {
    width: 100%;
    padding: 16px 32px;
    font-size: 16px;
  }
}
</style>